### Python functions:
## function ----> executing the logic many times but writing the logic only one tym.
##syntax for python functions:
 - refer's with keyword dev
 - inside write the logic
 - call from anywhere
 ## syntax for function: def <function_name>(parameters or attributes)

In [1]:
# adding two numbers without function:
a =10
b =20
print(a+b)

30

In [2]:
# to make it easy and code reusability,
# reusability means use the code many tym but written only one tym.

In [ ]:
# create a function and write the logic only one tym but uses many tyms.
# addition two numbers using function:

In [5]:
def kanishka():
    print('i m living in ghaziyabad')

In [6]:
kanishka()  # I m calling a function which name is kanishka

i m living in ghaziyabad

In [7]:
def add(a,b):
    print(a+b)

In [8]:
add(200,30.6)

230.6

In [9]:
add('12','13')  # they are strings

1213

In [10]:
add('riya','jay')

riyajay

In [21]:
# Find the even and odd numbers from 1 to 20 with the help of function:
def even_odd(c,d):
    for i in range(c,d):
        if i%2 == 0:
            print(i,'even')
        else:
             print(i,'odd')

In [22]:
even_odd(1,21)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [23]:
even_odd(121,167)

121 odd
122 even
123 odd
124 even
125 odd
126 even
127 odd
128 even
129 odd
130 even
131 odd
132 even
133 odd
134 even
135 odd
136 even
137 odd
138 even
139 odd
140 even
141 odd
142 even
143 odd
144 even
145 odd
146 even
147 odd
148 even
149 odd
150 even
151 odd
152 even
153 odd
154 even
155 odd
156 even
157 odd
158 even
159 odd
160 even
161 odd
162 even
163 odd
164 even
165 odd
166 even

In [24]:
# check the function while passing parameters:

In [34]:
def palindrome(number):
    temp = number
    count = 0
    while number > 0:
        res= number%10
        count = (count*10)+res
        number = number//10
    if temp == count:
         print(count,'palindrome')
    else:
        print(count,'not palindrome')

In [35]:
palindrome(121)

121 palindrome

In [36]:
palindrome(145)

541 not palindrome

In [37]:
def marks(ph=100,ch=80,co=90):
    print(ph,ch,co)

In [38]:
ph=40
ch=50
co=30
marks(ph,ch,co)

40 50 30

## Return keyword:
  - to let a function return a value,use the return statement.

In [5]:
def square(number):
    return number*number

In [40]:
square(5)

25

In [ ]:
# The difference is if we use 'print' we can use the value generated by function futher.
# But with return i can use the value(result).

In [7]:
sol = square(2)

In [8]:
print(sol)

4

In [9]:
if sol%2==0:
    print('even')
else:
    print('odd')

even

In [12]:
#return with multiple parameters:
#square and add:
def square(a,b):
    a1 = a*a
    b1 = b*b
    print(a1)
    print(b1)   # without return we would give different print

In [13]:
square(10,20)

100
400

In [14]:
def square(a,b):
    a1 = a*a
    b1 = b*b
    return a1,b1

In [16]:
first,second = square(40,50)

In [17]:
first

1600

In [18]:
second

2500

In [19]:
print(first+second)

4100

In [26]:
add = first+second

In [27]:
print(add)

4100

In [23]:
div = first//second

In [24]:
print(div)

0

In [130]:
#will take a list of values and will find out values divisible by 2 and 3 and later add them?
a = [1,2,3,14,15,21,6,10]
def use_case(a):
    count_1 =0
    count_2 =0
    for i in a:
        if i%2==0:
            count_1 =count_1+i
            
            
    for j in a:
        if j%3==0:
            count_2 =count_2+j
        print(count_1)
        print(count_2)

In [132]:
a = [1,2,3,14,15,21,6,10]
use_case(a)

32
0
32
0
32
3
32
3
32
18
32
39
32
45
32
45

In [39]:
2+14+6+10

32

In [46]:
3+15+21+6

45

In [127]:

def use_case(a):
    count_1 =0
    count_2 =0
    for i in a:
        if i%2==0:
            count_1 =count_1+i
            
            
    for j in a:
        if j % 3 == 0:
            count_2 =count_2 + j
            return count_1, count_2

In [128]:
a = [2,6,3,15,14,21,20]
a1,b1 = use_case(a)

In [129]:
a1,b1

(42, 6)

In [133]:
# find the count of each character in ur name using function and output should be in 'dictionary'?
# input --->'kanishka'
# output ---> {'k':2,'a':2,'n':1,'i':1,'s':1,'h':1}

In [145]:
def name(a):
    print(a)

In [146]:
name('kanishka')

kanishka

In [28]:
a = {}
a['k'] = 12
print(a)

{'k': 12}

In [39]:
def exercise(a):
    empty_dict = {}
    for i in a:
        if i in empty_dict.keys():
            empty_dict[i]=empty_dict[i]+1
        else:
             empty_dict[i]=1
    return empty_dict

In [41]:
a = 'kanishka mittal'
result = exercise(a)
print(result)

{'k': 2, 'a': 3, 'n': 1, 'i': 2, 's': 1, 'h': 1, ' ': 1, 'm': 1, 't': 2, 'l': 1}

## Practice program

In [24]:
a = [10,12,8,15,9,21,14]
def eve_odd(a):
    count_1 = 0
    count_2 = 0
    for i in a:
        if i%2==0:
            count_1 = count_1+i
    for j in a:
        if j%3==0:
            count_2 = count_2+j
    return(count_1,count_2)

In [25]:
a = [10,12,8,15,9,21,14]
eve_odd(a)

(44, 57)

In [26]:
sol_1,sol_2 = eve_odd(a)
print(sol_1,sol_2)

44 57

In [27]:
print(sol_1+sol_2)

101

In [47]:
# 'not' 'and' 'or' 'in' :keywords

In [48]:
# not
a = 'jiva'
print('i' not in a)

False

In [49]:
print('h' not in a)

True

In [50]:
# 'and' : both condition should be true.
# 'or' :  only one condition true.
# find the no. which are divisble by 2 and 3?
def example(a):
    for i in a:
        if i%2==0 and i%3==0:
            print(i)

In [51]:
a = [10,2,6,12,3,9]
example(a)

6
12

In [52]:
# or :
def example_2(a):
    for i in a:
        if i%2==0 or i%3==0:
            print(i)

In [53]:
a = [10,2,6,12,3,9]
example_2(a)

10
2
6
12
3
9

## Lambda function

In [54]:
#for normal function we need to use function name
#but lambda function has no function name
# lambda function is anonymous function ---anonymous(there will be no function name)
#both function and lambda function is same but lambda function has no function name and we need to write the code in single-
-line which is very difficult to understand.
# official documentation:https://docs.python.org/3/reference/expressions.html

SyntaxError: invalid syntax (3941638576.py, line 5)

## Syntax for lambda function:
---[lambda arguments :expression]

In [55]:
sol = lambda x,y:x+y
a = 12
b = 23
sol(a,b)

35

In [60]:
sol= lambda x,y:pow(x,y)
a = 2
b = 5
sol(a,b)

32

In [ ]:
# For loop loosing lambda:

In [2]:
minimum = lambda x, y:x if(x>y) else y
a = 25
b = 36
print(minimum)
print(minimum(a,b))

<function <lambda> at 0x0000023274A581F0>
36

In [3]:
# write table of 2 using function and lambda function

In [21]:
# functions:
def table(a):
    for i in range(1,11):
        print(a,'*',i,'=',a*i)

In [22]:
table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [23]:
# same but use lambda function:
sol = lambda x,y:x*y
number = 3
for i in range(1,11):
    print(number,'*',i,'=',number*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30